@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin-bottom: 25px;
}

.top-menu {
  display: flex;
  padding: 20px 24px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header ul li a {
  text-decoration: none;
  color: #726e8d;
}

li:not(:last-child) {
  margin-right: 45px;
}

.img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.img-title h3 {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 290px;
  left: 80px;
}

.menu-bottom {
  padding-left: 48px;
  display: flex;
}

.form a {
  text-decoration: none;
  color: #2a254b;
  margin-right: 8px;
}

.form:not(:last-child) {
  margin-right: 60px;
}

.form1 a {
  text-decoration: none;
  color: #2a254b;
  margin-right: 8px;
}

.form1:not(:last-child) {
  margin-right: 40px;
}

.menu-bottom1 {
  display: flex;
  padding-left: 560px;
}

section img {
  width: 305px;
  height: 375px;
}
.cards {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  padding: 80px 48px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.btn a {
  text-decoration: none;
  color: #2a254b;
  background-color: #f9f9f9;
  padding: 16px 32px;
}

footer {
  background-color: #2a254b;
  padding: 60px 80px;
}

.footer-end {
  display: flex;
  margin-bottom: 100px;
}

.footer-title {
  color: #fff;
  margin-bottom: 12px;
  margin-right: 100px;
}

.footer-title ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-title ul li {
  list-style: none;
  margin-bottom: 12px;
}

.label {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.btn2 {
  background-color: #fff;
  width: 118px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 a {
  text-decoration: none;
  color: #2a254b;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.join-input input {
  width: 509px;
  padding-left: 32px;
  background-color: rgba(255, 255, 255, 0.15);
}

.join-input {
  display: flex;
}

::placeholder {
  color: #fff;
}

.footer-title-end {
  color: #fff;
  display: flex;
}

.footer-title-end h4 {
  margin-right: 850px;
}

.footer-icon :not(:last-child) {
  margin-right: 27px;
}
