@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin-bottom: 25px;
}

.top-menu1 {
  display: flex;
  background-color: #2a254b;
  height: 41px;
  padding-left: 520px;
  align-items: center;
  margin-bottom: 25px;
}

.top-menu {
  display: flex;
}

.top-menu h3 {
  margin-right: 480px;
  color: #fff;
  font-size: 14px;
}

.cart-icon {
  color: #fff;
  width: 24px;
  height: 24px;
}

.cart-icon2 {
  margin-right: 8px;
  color: #fff;
  width: 16px;
  height: 16px;
}

.header2 {
  display: flex;
  padding-left: 80px;
  align-items: baseline;
}

.header2 h2 {
  margin-right: 190px;
  margin-bottom: 30px;
}

header ul {
  list-style: none;
  display: flex;
  color: #726e8d;
}

.nav {
  margin-right: 300px;
}

ul li a {
  text-decoration: none;
  color: #726E8D;
}

li:not(:last-child) {
  margin-right: 45px;
}

.cart-icons :not(:last-child) {
  margin-right: 16px;
}

#info {
  display: flex;
  padding: 80px 50px;
}

#info img {
  margin-right: 60px;
}

.cart {
  padding: 65px 90px;
}

.cart-title {
  font-weight: 400;
  font-size: 36px;
  color: #2a254b;
  margin-bottom: 15px;
}

.cart-price {
  font-weight: 400;
  font-size: 24px;
  color: #12131a;
  margin-bottom: 55px;
}

.desc-title {
  color: #2a254b;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.desc {
  color: #505977;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.how-img h4 {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #2a254b;
}

.information-img {
  display: flex;
}

.information-img h5 {
  margin-right: 58px;
  font-weight: 400;
  font-size: 14px;
  color: #2a254b;
  margin-bottom: 12px;
}

.img-size {
  font-weight: 400;
  font-size: 16px;
  color: #505977;
  margin-bottom: 49px;
}

.img-number {
  align-items: baseline;
  flex-direction: column;
}

.img-number h5 {
  font-weight: 400;
  font-size: 16px;
  color: #2a254b;
  margin-right: 22px;
  margin-bottom: 12px;
}

.button {
  background-color: #f9f9f9;
  padding: 12px 16px;
  width: 122px;
  height: 46px;
  margin-bottom: 48px;
}

.buttons {
  display: flex;
}

.btn1 {
  height: 56px;
  background-color: #2a254b;
  padding: 16px 32px;
  margin-right: 18px;
}

.btn2 {
  height: 56px;
  background-color: #fff;
  padding: 16px 32px;
}

.btn1 a {
  text-decoration: none;
  color: #fff;
}

.btn2 a {
  text-decoration: none;
  color: #2a254b;
}

.carts {
  display: flex;
  justify-content: space-evenly;
}

.image-price {
  margin-bottom: 35px;
}

.title {
  margin-left: 80px;
}

.title h2 {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 32px;
}

.btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
}

.btn3 a {
  color: #2a254b;
  text-decoration: none;
  background-color: #f9f9f9;
  padding: 16px 32px;
}

.container-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.box-icon {
  margin-bottom: 16px;
}

.box-title {
  font-weight: 400;
  font-size: 20px;
  color: #2a254b;
  margin-bottom: 8px;
}

.desc {
  color: #2a254b;
  width: 270px;
  margin-bottom: 86px;
}

.boxs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 82px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.big-card {
  background-color: #fff;
  width: 1273px;
  height: 364px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.big-cart-title {
  font-weight: 400;
  font-size: 36px;
  color: #2a254b;
  text-align: center;
  margin-bottom: 21px;
}

.big-cart-desc {
  color: #2a254b;
  margin-bottom: 216px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.adress {
  display: flex;
}

input {
  width: 354px;
  height: 56px;
  padding-left: 32px;
}

.adress-btn {
  width: 118px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a254b;
}

.adress-btn a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #2a254b;
  padding: 60px 80px;
}

.footer-start {
  display: flex;
  margin-bottom: 80px;
}

.logo h2 {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 36px;
  margin-right: 120px;
}

.footer-ul {
  color: #fff;
}

.footer-ul li:not(:last-child) {
  margin-bottom: 12px;
}

.footer-ul li {
  list-style: none;
}

.footer-icon-title h4 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
  margin-right: 350px;
}

.footer-icon {
  color: #fff;
}

.footer-icon :not(:last-child) {
  margin-right: 27px;
}

.footer-title h4 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-right: 100px;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

footer ul li {
  list-style: none;
}

.footer-title ul :not(:last-child) {
  margin-bottom: 12px;
}

.footer-end h4 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

