* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

section {
    margin: 0 auto;
    height: 371px;
    width: 714px;
    background-color: #f5f5f5;
    display: flex;
    border-radius: 15px;
    padding: 20px;
}

ul li a {
    text-decoration: none;
    border: 1px solid pink;
    padding: 10px;
}

ul li {
    margin-right: 10px;
    list-style: none;
}

ul {
    display: flex;
}

p {
    color: pink;
    margin-bottom: 10px;
}

ul li :last-child {
    margin-right: 0px;
}

ul li :hover {
    background-color: red;
}

.div-right p {
    color: black;
}

#info {
    color: pink;
}

#menu {
    color: black
}

button {
    background-color: red;
    font-size: 15px;
}